# local editor settings
.idea/

# virtual environments
.venv/
.python-version

# python stuff
__pycache__/

# test database
# TODO: remove when django settings points to postgresql docker container
db.sqlite3
